tmp_esamk_extract_all/LOS_FLOWS_1_0_0_5_managed_20250605_154452/Workflows/SendEmailtoSpecifiers-CC6B57D7-D008-F011-BAE3-7C1E52350C34.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "esamk_sharedcommondataserviceforapps_56a48"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "esamk_sharedoffice365_f9e16"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "b8a241ac-a18a-45c1-ae05-f0a0f9ec5064"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "esamk_letterofsupport1",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "esamk_submit",
              "subscriptionRequest/filterexpression": "esamk_submit eq 'SendToSpecifier'"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_LetterOfSupport_Item": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a1587ee0-1066-42bd-8c27-0b4326e36f1b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_letterofsupport1s",
              "recordId": "@triggerOutputs()?['body/esamk_letterofsupport1id']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Reset_Submit_to_Sent": {
          "runAfter": {
            "Get_LetterOfSupport_Item": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4dd84486-7f4d-40cf-a5e6-e00876baa404"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_letterofsupport1s",
              "recordId": "@outputs('Get_LetterOfSupport_Item')?['body/esamk_letterofsupport1id']",
              "item/esamk_docusignstatus": 305290007,
              "item/esamk_submit": "SentToSpecifier"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose": {
          "runAfter": {
            "Compose_5": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cbea04d6-f7c8-4ecb-952b-5d71d47b9ebc"
          },
          "type": "Compose",
          "inputs": "@first(split(outputs('Compose_5')?['@odata.context'], '/api/'))\r\n"
        },
        "Compose_3": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "84c5cf15-c89b-457f-9c6c-7e7497f54bdd"
          },
          "type": "Compose",
          "inputs": "@last(split(outputs('Compose_5')?['@odata.type'], '.'))\r\n"
        },
        "Compose_2": {
          "runAfter": {
            "Compose_4": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "862c0645-3281-4f43-8240-74969fd56c22"
          },
          "type": "Compose",
          "inputs": "@\r\nconcat(\r\n    outputs('Compose'),  \r\n    '/main.aspx?etn=',\r\n    outputs('Compose_3'),  \r\n    '&pagetype=entityrecord&id=',\r\n    outputs('Compose_4')   \r\n)"
        },
        "Compose_4": {
          "runAfter": {
            "Compose_3": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fd84c142-44b0-4c5a-927b-90661f45aa7a"
          },
          "type": "Compose",
          "inputs": "@concat(outputs('Get_LetterOfSupport_Item')?['body/esamk_letterofsupport1id'])"
        },
        "Compose_5": {
          "runAfter": {
            "UpdateBPFStageToSent": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0e4826b1-522e-4f56-b673-7f720a39dac1"
          },
          "type": "Compose",
          "inputs": "@body('Get_LetterOfSupport_Item')"
        },
        "Send_an_email_(V2)": {
          "runAfter": {
            "Compose_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5f4990d3-5b83-41ba-a36e-17a141782480"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365_1",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "Mike.Kolling@ext.esa.int",
              "emailMessage/Subject": "Please Provide Signers for this Authorisation of Funding",
              "emailMessage/Body": "<p>Please Open this Authority of Funding and add @{triggerOutputs()?['body/esamk_requesthowmanysignatures']} &nbsp;signatories please.<br>\n<br>\n@{outputs('Compose_2')}<br>\n</p>",
              "emailMessage/Sensitivity": "3976fa30-1907-4356-8241-62ea5e1c0256",
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_emails_(V3)": {
          "runAfter": {
            "Send_an_email_(V2)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "Id::AQMkADM4OTQ0ATAzLWQyOTAtNDJmZS1iMGY2LTY0Y2ExNGFkMzYwZQAuAAAD7fdwwEXhW0OR1f4VrmAPMgEAPTjI4LVMq0K51MeXn9TiqQAAAgEJAAAA": "Sent Items",
            "operationMetadataId": "ec854aca-0821-414c-b66c-a46777bff713"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365_1",
              "operationId": "GetEmailsV3",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "folderPath": "Id::AQMkADM4OTQ0ATAzLWQyOTAtNDJmZS1iMGY2LTY0Y2ExNGFkMzYwZQAuAAAD7fdwwEXhW0OR1f4VrmAPMgEAPTjI4LVMq0K51MeXn9TiqQAAAgEJAAAA",
              "to": "Mike.Kolling@ext.esa.int",
              "fetchOnlyUnread": false,
              "includeAttachments": false,
              "top": 1,
              "importance": "Any",
              "fetchOnlyWithAttachment": false,
              "subjectFilter": "Please Provide Signers for this Authorisation of Funding"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Get_emails_(V3)')?['body/value']",
          "actions": {
            "Add_a_new_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f88ec7fe-e7de-47f7-89ed-81e8447e0c17"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "emails",
                  "item/description": "Email sent via Outlook - this just for information\n\nTO:     mike.kolling@ext.esa.int\n\nFROM:  mike.kolling@ext.esa.int\n\nPlease Open this Authority of Funding and add X Signatures.\n\n@{outputs('Compose_2')}\n",
                  "item/sender": "'mike.kolling@ext.esa.int'",
                  "item/esamk_los_email_Email@odata.bind": "esamk_letterofsupport1s(@{outputs('Get_LetterOfSupport_Item')?['body/esamk_letterofsupport1id']})",
                  "item/subject": "Please Provide Signers for this Authorisation of Funding",
                  "item/torecipients": "'mike.kolling@ext.esa.int'"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_emails_(V3)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7d296661-e483-468a-951e-a51d0f631dc1"
          },
          "type": "Foreach"
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "216a8441-4256-4e1a-881f-e2566f384bfd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "LOS",
                "type": "string",
                "value": "@triggerOutputs()?['body/esamk_letterofsupport1id']"
              }
            ]
          }
        },
        "Get_BPF": {
          "runAfter": {
            "Reset_Submit_to_Sent": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5a25d1eb-93ae-43f6-8501-81f60fb1dbc4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_letterofsupportprocesses",
              "$select": "businessprocessflowinstanceid,_processid_value",
              "$filter": "_bpf_esamk_letterofsupport1id_value eq @{outputs('Get_LetterOfSupport_Item')?['body/esamk_letterofsupport1id']}",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "GetProcessStage": {
          "runAfter": {
            "Get_BPF": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e6830b9c-e015-4734-adce-fc301aa9b941"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "processstages",
              "$filter": "_processid_value eq  @{first(outputs('Get_BPF')?['body/value'])?['_processid_value']}   and stagename eq 'Send To Specifier'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "UpdateBPFStageToSent": {
          "runAfter": {
            "GetProcessStage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a3657df6-2ac6-4942-9460-2b68b87c8845"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_letterofsupportprocesses",
              "recordId": "@first(outputs('Get_BPF')?['body/value'])?['businessprocessflowinstanceid']",
              "item/activestageid@odata.bind": "processstages(@{first(outputs('GetProcessStage')?['body/value'])?['processstageid']\r\n})",
              "item/statecode": 0,
              "item/statuscode": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}