tmp_esamk_extract_all/test_1_0_0_3_20250922_170148/Workflows/ESALetterofSupport-SendforSignature-37941467-0DDF-EF11-8EEA-6045BDDF725A.json
{
  "properties": {
    "connectionReferences": {
      "shared_docusigndemo_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_shareddocusigndemo_30280"
        },
        "api": {
          "name": "shared_docusigndemo"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "esamk_sharedcommondataserviceforapps_56a48"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "esamk_sharedoffice365_f9e16"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "staticResults": {
        "Send_envelope0": {
          "status": "Succeeded",
          "outputs": {
            "statusCode": "OK",
            "headers": {}
          }
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "b8a241ac-a18a-45c1-ae05-f0a0f9ec5064"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "esamk_letterofsupport1",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "esamk_submit",
              "subscriptionRequest/filterexpression": "esamk_submit eq 'SendNow'"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Send_envelope": {
          "runAfter": {
            "Custom_Fields": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3ce05bf6-a49d-4b76-9132-3484052e87ba"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_docusigndemo_1",
              "operationId": "SendDraftEnvelope",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
            },
            "parameters": {
              "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
              "envelopeId": "@variables('Envelope ID')"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "staticResult": {
              "staticResultOptions": "Disabled",
              "name": "Send_envelope0"
            }
          }
        },
        "Get_document_generation_form_fields_from_envelope": {
          "runAfter": {
            "Add_Recipients": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "966ef764-bea2-44da-9130-e55a1c0d6965"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_docusigndemo_1",
              "operationId": "GetDocgenFormFields",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
            },
            "parameters": {
              "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
              "envelopeId": "@variables('Envelope ID')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Custom_Fields": {
          "actions": {
            "Get_custom_field_info_from_envelope_-_Member_State": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "305503d5-a708-47bc-9cbd-44d4a3bb4cbc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_docusigndemo_1",
                  "operationId": "GetEnvelopeCustomField",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
                },
                "parameters": {
                  "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
                  "envelopeId": "@variables('Envelope ID')",
                  "fieldName": "Member State"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_envelope_custom_field_-_Member_State": {
              "runAfter": {
                "Get_custom_field_info_from_envelope_-_Member_State": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bd618cfd-bf57-4f43-8c03-1569d93b2f3a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_docusigndemo_1",
                  "operationId": "UpdateEnvelopeCustomField",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
                },
                "parameters": {
                  "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
                  "envelopeId": "@variables('Envelope ID')",
                  "fieldId": "@outputs('Get_custom_field_info_from_envelope_-_Member_State')?['body/fieldId']",
                  "fieldType": "@outputs('Get_custom_field_info_from_envelope_-_Member_State')?['body/fieldType']",
                  "name": "@outputs('Get_custom_field_info_from_envelope_-_Member_State')?['body/name']",
                  "value": "@outputs('Get_Member_State')?['body/esamk_countryname']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_custom_field_info_from_envelope_-_Activity_Title": {
              "runAfter": {
                "Update_envelope_custom_field_-_Member_State": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e4f26f84-3140-4b10-833e-1998cd150edb"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_docusigndemo_1",
                  "operationId": "GetEnvelopeCustomField",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
                },
                "parameters": {
                  "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
                  "envelopeId": "@variables('Envelope ID')",
                  "fieldName": "Activity Title"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_envelope_custom_field_-_Activity_Title": {
              "runAfter": {
                "Get_custom_field_info_from_envelope_-_Activity_Title": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "19532f31-9985-4208-971a-39a1718bee04"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_docusigndemo_1",
                  "operationId": "UpdateEnvelopeCustomField",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
                },
                "parameters": {
                  "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
                  "envelopeId": "@variables('Envelope ID')",
                  "fieldId": "@outputs('Get_custom_field_info_from_envelope_-_Activity_Title')?['body/fieldId']",
                  "fieldType": "@outputs('Get_custom_field_info_from_envelope_-_Activity_Title')?['body/fieldType']",
                  "name": "@outputs('Get_custom_field_info_from_envelope_-_Activity_Title')?['body/name']",
                  "value": "@outputs('Get_LUTactivity_Fields')?['body/esamk_name']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Add_reminders_and_Expiry": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d7569406-eafb-4f66-a7da-54c05f4433d8"
          },
          "type": "Scope"
        },
        "Add_reminders_and_Expiry": {
          "runAfter": {
            "Update_document_generation_form_fields_from_envelope": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b307907a-fd70-4232-905b-a2c6464718be"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_docusigndemo_1",
              "operationId": "AddReminders",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
            },
            "parameters": {
              "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
              "envelopeId": "@variables('Envelope ID')",
              "reminderEnabled": true,
              "reminderDelay": "7",
              "reminderFrequency": "3",
              "expireAfter": "@split(dateDifference(formatDateTime(utcNow(),'yyyy-MM-dd'),formatDateTime(outputs('Get_LetterofSupport_Item')?['body/esamk_dateallsignaturesrequiredby'],'yyyy-MM-dd')),'.')[0]"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Add_Recipients": {
          "actions": {
            "Add_recipient_to_an_envelope_-_CC_Submitter": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f3c33c8c-6042-494d-9ef6-d4e180d8adbe"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_docusigndemo_1",
                  "operationId": "AddRecipientToEnvelopeV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
                },
                "parameters": {
                  "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
                  "envelopeId": "@variables('Envelope ID')",
                  "recipientType": "carbonCopies",
                  "routingOrder": "1",
                  "emailNotificationLanguage": "English UK (en_GB)",
                  "emailNotificationSubject": "CC: @{variables('Email Subject')}",
                  "emailNotificationBody": "@variables('Email Body')",
                  "roleName": "Submitter",
                  "additionalRecipientParams/name": "@outputs('Get_LetterOfSupport_Item')?['body/esamk_submittername']",
                  "additionalRecipientParams/email": "@outputs('Get_LetterOfSupport_Item')?['body/esamk_submitteremail']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition_-_Signer_2": {
              "actions": {
                "Add_tabs_for_a_recipient_on_an_envelope_-_Name_-_Signer_2": {
                  "runAfter": {
                    "Add_tabs_for_a_recipient_on_an_envelope_-_Signature_-_Signer_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "bcdb115a-d4bf-462b-87d6-45f0d4165e4b"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_docusigndemo_1",
                      "operationId": "AddRecipientTabs",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
                    },
                    "parameters": {
                      "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
                      "envelopeId": "@variables('Envelope ID')",
                      "recipientId": "@outputs('Add_recipient_to_an_envelope_-_Signer_2')?['body/recipientId']",
                      "tabType": "fullNameTabs",
                      "tabDetails/tabs": [
                        {
                          "anchorString": "//Name2//",
                          "tabLabel": "Name 2",
                          "anchorXOffset": "-6",
                          "anchorYOffset": "-8",
                          "font": "Arial",
                          "fontColor": "Black",
                          "fontSize": "Size12",
                          "bold": "false",
                          "italic": "false"
                        }
                      ]
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Add_tabs_for_a_recipient_on_an_envelope_-_Signature_-_Signer_2": {
                  "runAfter": {
                    "Add_tabs_for_a_recipient_on_an_envelope_-_Date_Signed_-_Signer_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2fce0ed6-5bf8-4395-9050-bbcfb8ceb883"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_docusigndemo_1",
                      "operationId": "AddRecipientTabs",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
                    },
                    "parameters": {
                      "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
                      "envelopeId": "@variables('Envelope ID')",
                      "recipientId": "@outputs('Add_recipient_to_an_envelope_-_Signer_2')?['body/recipientId']",
                      "tabType": "signHereTabs",
                      "tabDetails/tabs": [
                        {
                          "anchorString": "//Signature2//",
                          "optional": "false",
                          "tabLabel": "Signature 2",
                          "anchorXOffset": "0",
                          "anchorYOffset": "0"
                        }
                      ]
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Add_tabs_for_a_recipient_on_an_envelope_-_Date_Signed_-_Signer_2": {
                  "runAfter": {
                    "Add_recipient_to_an_envelope_-_Signer_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0de373b8-55d2-488c-8251-970e6cbdd8d1"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_docusigndemo_1",
                      "operationId": "AddRecipientTabs",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
                    },
                    "parameters": {
                      "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
                      "envelopeId": "@variables('Envelope ID')",
                      "recipientId": "@outputs('Add_recipient_to_an_envelope_-_Signer_2')?['body/recipientId']",
                      "tabType": "dateSignedTabs",
                      "tabDetails/tabs": [
                        {
                          "anchorString": "//Date2//",
                          "tabLabel": "Date Signed 2",
                          "anchorXOffset": "-6",
                          "anchorYOffset": "-7",
                          "font": "Arial",
                          "fontColor": "Black",
                          "fontSize": "Size12",
                          "bold": "false",
                          "italic": "false"
                        }
                      ]
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Add_recipient_to_an_envelope_-_Signer_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "6cf9c805-fc63-4c3c-b643-41f145663bf7"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_docusigndemo_1",
                      "operationId": "AddRecipientToEnvelopeV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
                    },
                    "parameters": {
                      "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
                      "envelopeId": "@variables('Envelope ID')",
                      "recipientType": "signers",
                      "routingOrder": "3",
                      "emailNotificationLanguage": "English UK (en_GB)",
                      "emailNotificationSubject": "Signer 2: @{variables('Email Subject')}",
                      "emailNotificationBody": "@variables('Email Body')",
                      "roleName": "Signer 2",
                      "additionalRecipientParams/name": "@outputs('Get_LetterOfSupport_Item')?['body/esamk_signer2name']",
                      "additionalRecipientParams/email": "@outputs('Get_LetterOfSupport_Item')?['body/esamk_signer2email']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Condition_-_Signer_1": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@triggerOutputs()?['body/esamk_requesthowmanysigners']",
                  2
                ]
              },
              "metadata": {
                "operationMetadataId": "e287c87b-6080-490b-93c3-59512fe6eec0"
              },
              "type": "If"
            },
            "Condition_-_Signer_1": {
              "actions": {
                "Add_tabs_for_a_recipient_on_an_envelope_-_Name_-_Signer_1": {
                  "runAfter": {
                    "Add_tabs_for_a_recipient_on_an_envelope_-_Signature_-_Signer_1": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "bcdb115a-d4bf-462b-87d6-45f0d4165e4b"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_docusigndemo_1",
                      "operationId": "AddRecipientTabs",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
                    },
                    "parameters": {
                      "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
                      "envelopeId": "@variables('Envelope ID')",
                      "recipientId": "@outputs('Add_recipient_to_an_envelope_-_Signer_1')?['body/recipientId']",
                      "tabType": "fullNameTabs",
                      "tabDetails/tabs": [
                        {
                          "anchorString": "//Name1//",
                          "tabLabel": "Name 1",
                          "anchorXOffset": "-6",
                          "anchorYOffset": "-8",
                          "font": "Arial",
                          "fontColor": "Black",
                          "fontSize": "Size12",
                          "bold": "false",
                          "italic": "false"
                        }
                      ]
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Add_tabs_for_a_recipient_on_an_envelope_-_Signature_-_Signer_1": {
                  "runAfter": {
                    "Add_tabs_for_a_recipient_on_an_envelope_-_Date_Signed_-_Signer_1": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2fce0ed6-5bf8-4395-9050-bbcfb8ceb883"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_docusigndemo_1",
                      "operationId": "AddRecipientTabs",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
                    },
                    "parameters": {
                      "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
                      "envelopeId": "@variables('Envelope ID')",
                      "recipientId": "@outputs('Add_recipient_to_an_envelope_-_Signer_1')?['body/recipientId']",
                      "tabType": "signHereTabs",
                      "tabDetails/tabs": [
                        {
                          "anchorString": "//Signature1//",
                          "optional": "false",
                          "tabLabel": "Signature 1",
                          "anchorXOffset": "0",
                          "anchorYOffset": "0"
                        }
                      ]
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Add_tabs_for_a_recipient_on_an_envelope_-_Date_Signed_-_Signer_1": {
                  "runAfter": {
                    "Add_recipient_to_an_envelope_-_Signer_1": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0de373b8-55d2-488c-8251-970e6cbdd8d1"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_docusigndemo_1",
                      "operationId": "AddRecipientTabs",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
                    },
                    "parameters": {
                      "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
                      "envelopeId": "@variables('Envelope ID')",
                      "recipientId": "@outputs('Add_recipient_to_an_envelope_-_Signer_1')?['body/recipientId']",
                      "tabType": "dateSignedTabs",
                      "tabDetails/tabs": [
                        {
                          "anchorString": "//Date1//",
                          "tabLabel": "Date Signed 1",
                          "anchorXOffset": "-6",
                          "anchorYOffset": "-7",
                          "font": "Arial",
                          "fontColor": "Black",
                          "fontSize": "Size12",
                          "bold": "false",
                          "italic": "false"
                        }
                      ]
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Add_recipient_to_an_envelope_-_Signer_1": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "6cf9c805-fc63-4c3c-b643-41f145663bf7"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_docusigndemo_1",
                      "operationId": "AddRecipientToEnvelopeV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
                    },
                    "parameters": {
                      "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
                      "envelopeId": "@variables('Envelope ID')",
                      "recipientType": "signers",
                      "routingOrder": "3",
                      "emailNotificationLanguage": "English UK (en_GB)",
                      "emailNotificationSubject": "Signer 1: @{variables('Email Subject')}",
                      "emailNotificationBody": "@variables('Email Body')",
                      "roleName": "Signer 1",
                      "additionalRecipientParams/name": "@outputs('Get_LetterOfSupport_Item')?['body/esamk_signer1name']",
                      "additionalRecipientParams/email": "@outputs('Get_LetterOfSupport_Item')?['body/esamk_signer1email']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Condition_Specifier": [
                  "Succeeded"
                ]
              },
              "expression": {
                "greater": [
                  "@triggerOutputs()?['body/esamk_requesthowmanysigners']",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "e287c87b-6080-490b-93c3-59512fe6eec0"
              },
              "type": "If"
            },
            "Condition_Specifier": {
              "actions": {
                "List_Specifiers": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "490a770f-f5ba-473b-9768-de377651365b"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "esamk_lut_specifierses",
                      "fetchXml": "<fetch version=\"1.0\">\n  <entity name=\"esamk_lut_specifiers\">\n    <attribute name=\"esamk_lut_specifiersid\" />\n    <attribute name=\"esamk_name\" />\n    <attribute name=\"esamk_email\" />\n    <link-entity name=\"esamk_letterofsupport1_esamk_lut_specif\"\n                 from=\"esamk_lut_specifiersid\"\n                 to=\"esamk_lut_specifiersid\"\n                 intersect=\"true\">\n      <link-entity name=\"esamk_letterofsupport1\"\n                   from=\"esamk_letterofsupport1id\"\n                   to=\"esamk_letterofsupport1id\"\n                   alias=\"los\">\n        <filter>\n          <condition attribute=\"esamk_letterofsupport1id\"\n                     operator=\"eq\"\n                     value=\"@{outputs('Get_LetterOfSupport_Item')?['body/esamk_letterofsupport1id']}\" />\n        </filter>\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>\n"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Apply_to_each_Specifier": {
                  "foreach": "@outputs('List_Specifiers')?['body/value']",
                  "actions": {
                    "Add_Specifier_recipient_to_an_envelope_(V2)": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "3baca8f4-3405-47b3-9d79-c3e4a6ecf532"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_docusigndemo_1",
                          "operationId": "AddRecipientToEnvelopeV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
                        },
                        "parameters": {
                          "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
                          "envelopeId": "@variables('Envelope ID')",
                          "recipientType": "agents",
                          "routingOrder": "2",
                          "emailNotificationLanguage": "English UK (en_GB)",
                          "emailNotificationSubject": "Specifier @{variables('Email Subject')}",
                          "emailNotificationBody": "@variables('Email Body')",
                          "roleName": "Recipient Specifier (IPC Delegate)",
                          "additionalRecipientParams/name": "@items('Apply_to_each_Specifier')?['esamk_name']",
                          "additionalRecipientParams/email": "@items('Apply_to_each_Specifier')?['esamk_email']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "List_Specifiers": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7d165f3d-3132-40c6-b9e8-9fa097d05455"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Add_recipient_to_an_envelope_-_CC_Submitter": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@variables('User Type')",
                  "305290000"
                ]
              },
              "metadata": {
                "operationMetadataId": "4af968f4-931b-4c7e-a19b-505457cb6068"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Update_D365_with_EnvelopeID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "42928428-be8f-418e-ac8d-ad8916141201"
          },
          "type": "Scope"
        },
        "Initialize_variable_-_Envelope_ID": {
          "runAfter": {
            "trim_Email_Subject_to_100chars": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8fabdc23-aad8-43d0-9a42-5655dab817dc"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Envelope ID",
                "type": "string",
                "value": "@outputs('Create_envelope_using_template_with_recipients')?['body/envelopeId']"
              }
            ]
          }
        },
        "Format_number_-_Funding_Amount": {
          "runAfter": {
            "Set_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3da8ecf3-77dd-4b42-bbbb-426cb272b4b4"
          },
          "type": "Expression",
          "kind": "FormatNumber",
          "inputs": {
            "number": "@outputs('Get_LetterOfSupport_Item')?['body/esamk_authorisedfunding']",
            "format": "###,###,###"
          }
        },
        "Initialize_variable_-_Email_Subject": {
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c5e133b9-0375-4ef4-8d2e-8fe8559a6101"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Email Subject",
                "type": "string",
                "value": "ESA Letter of Support - @{outputs('Get_LetterOfSupport_Item')?['body/esamk_letterofsupport1id']}"
              }
            ]
          }
        },
        "Initialize_variable_-_Email_Body": {
          "runAfter": {
            "Initialize_variable_-_Email_Subject": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e1d5b3bd-2567-43e8-8e4f-214d5a0f21af"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Email Body",
                "type": "string",
                "value": "IPC Delegate: \n\n<b>Letter of Support Details:</b>\nMember State:  @{outputs('Get_Member_State')?['body/esamk_countryname']}\nActivity Title:     @{outputs('Get_LUTactivity_Fields')?['body/esamk_name']}\nScaleUp Id: \nOur Reference: @{outputs('Get_LetterOfSupport_Item')?['body/esamk_ourreference']}\n\n<b>Authorised Funding:</b>\nIndustrial Activity Support: € @{body('Format_number_-_Funding_Amount')}\nIncluding Internal Costs: € @{body('Format_number_-_Industrial_Supported_Amount')}\n\n<b>Contact Details:</b>\nContact Name: @{outputs('Get_LetterOfSupport_Item')?['body/esamk_submittername']}\nContact Email: @{outputs('Get_LetterOfSupport_Item')?['body/esamk_submitteremail']}\nContact Telephone: @{outputs('Get_LetterOfSupport_Item')?['body/esamk_telephone']}"
              }
            ]
          }
        },
        "Get_LetterOfSupport_Item": {
          "runAfter": {
            "Initialize_variable_Temp_String": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a1587ee0-1066-42bd-8c27-0b4326e36f1b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_letterofsupport1s",
              "recordId": "@triggerOutputs()?['body/esamk_letterofsupport1id']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Create_envelope_using_template_with_recipients": {
          "runAfter": {
            "Initialize_variable_-_Email_Body": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fe6c1bb3-26a9-40d6-8757-0330eda871ec"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_docusigndemo_1",
              "operationId": "SendEnvelope",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
            },
            "parameters": {
              "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
              "status": "Created",
              "templateId": "7965a016-365d-4404-8367-a6ce97426b57",
              "emailSubject": "ESA Authorisation of Funding - @{outputs('Get_Member_State')?['body/esamk_countryname']}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_document_generation_form_fields_from_envelope": {
          "runAfter": {
            "Get_document_generation_form_fields_from_envelope": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ea01928f-f54b-46f3-b47e-cd44f030dbde"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_docusigndemo_1",
              "operationId": "UpdateDocgenFormFields",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
            },
            "parameters": {
              "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
              "envelopeId": "@variables('Envelope ID')",
              "documentGuid": "@outputs('Get_document_generation_form_fields_from_envelope')?['body/docgenFields']?[0]?['documentid']",
              "body": [
                {
                  "name": "Member_State",
                  "value": "@outputs('Get_Member_State')?['body/esamk_countryname']"
                },
                {
                  "name": "Company_Name",
                  "value": "@triggerOutputs()?['body/esamk_company1']"
                },
                {
                  "name": "Additional_Comments",
                  "value": "@outputs('Get_LetterOfSupport_Item')?['body/esamk_additionalcomments']"
                },
                {
                  "name": "Activity_Code",
                  "value": "@outputs('Get_LUTactivity_Fields')?['body/esamk_code']"
                },
                {
                  "name": "Delegation_Name",
                  "value": "@outputs('Get_LetterOfSupport_Item')?['body/esamk_submittername']"
                },
                {
                  "name": "Delegation_Email",
                  "value": "@outputs('Get_LetterOfSupport_Item')?['body/esamk_submitteremail']"
                },
                {
                  "name": "Telephone",
                  "value": "@outputs('Get_LetterOfSupport_Item')?['body/esamk_telephone']"
                },
                {
                  "name": "Date_Created",
                  "value": "@formatDateTime(outputs('Create_envelope_using_template_with_recipients')?['body/statusDateTime'], 'dd MMMM yyyy')"
                },
                {
                  "name": "Activity_Title",
                  "value": "@outputs('Get_LUTactivity_Fields')?['body/esamk_name']"
                },
                {
                  "name": "Authorised_Funding",
                  "value": "@body('Format_number_-_Industrial_Supported_Amount')"
                },
                {
                  "name": "Authorised_Funding_Cost",
                  "value": "@body('Format_number_-_Funding_Amount')"
                },
                {
                  "name": "Expiry_Months",
                  "value": "@concat(variables('ExpiryNoMonths'),' Months')"
                },
                {
                  "name": "Our_Reference",
                  "value": "@outputs('Get_LetterOfSupport_Item')?['body/esamk_ourreference']"
                },
                {
                  "name": "Programme_Legal_Text",
                  "value": "@variables('Legal Text')"
                },
                {
                  "name": "Programme_Subject",
                  "value": "@outputs('Get_Programe_Element_for_Cost_Basis')?['body/esamk_name']"
                },
                {
                  "name": "Director_General",
                  "value": "@variables('Director General')"
                },
                {
                  "name": "cc_Recipients",
                  "value": "@concat(outputs('Get_Programme_for_Recipients')?['body/esamk_contact1'],', ',outputs('Get_Programme_for_Recipients')?['body/esamk_contact2'])"
                }
              ]
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_D365_with_EnvelopeID": {
          "runAfter": {
            "Initialize_variable_-_Envelope_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9a972e67-ef00-44ce-95e5-b083ffb6d6ad"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_letterofsupport1s",
              "recordId": "@outputs('Get_LetterOfSupport_Item')?['body/esamk_letterofsupport1id']",
              "item/esamk_docusignstatus": 305290003,
              "item/esamk_dtcreated": "@utcNow()",
              "item/esamk_envelopeid": "@variables('Envelope ID')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Member_State": {
          "runAfter": {
            "Reset_Submit_to_Sent": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "87d22c86-3deb-45b8-a491-21cef35d75ba"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_memberstates",
              "recordId": "@outputs('Get_LetterOfSupport_Item')?['body/_esamk_memberstate_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_a_row_2": {
          "runAfter": {
            "Send_envelope": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "ed283cbd-2e1a-4e48-9bdb-01cfbf140605"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_letterofsupport1s",
              "recordId": "@outputs('Get_LetterOfSupport_Item')?['body/esamk_letterofsupport1id']",
              "item/esamk_docusignstatus": 305290005,
              "item/esamk_envelopeid": "@variables('Envelope ID')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Send_an_email_(V2)": {
          "runAfter": {
            "Update_a_row_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "914849d2-cf7e-48cb-8a38-1b3db53b9478"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365_1",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "mike.kolling@dynamics247.net",
              "emailMessage/Subject": "Flow Failed - ESA Letter of Support",
              "emailMessage/Body": "<p>Envelope ID: @{variables('Envelope ID')}<br>\n<br>\nEnvelope Status: Completed<br>\n<br>\nFlow Name: ESA Letter of Support<br>\n<br>\nUse Case Flow: ESA Letter of Support<br>\n<br>\nAccount: ESA Demo Account</p>",
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_Expiry": {
          "runAfter": {
            "Format_number_-_Industrial_Supported_Amount": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5979ae9d-e0f2-44d5-acf4-8f80d0432a2a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ExpiryNoMonths",
                "type": "integer"
              }
            ]
          }
        },
        "Condition": {
          "actions": {
            "Expiry=6": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "dfc0ea3d-9bdc-4736-a25a-22234cfb9138"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ExpiryNoMonths",
                "value": 6
              }
            }
          },
          "runAfter": {
            "Initialize_variable_Expiry": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Expiry=12": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "c2d0a84c-4758-48d0-8f8d-820784ee00a6"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "ExpiryNoMonths",
                  "value": 12
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Get_LetterOfSupport_Item')?['body/esamk_losexpirymonths']",
              305290000
            ]
          },
          "metadata": {
            "operationMetadataId": "2a9dab2e-c115-4886-9feb-228433139921"
          },
          "type": "If"
        },
        "Format_number_-_Industrial_Supported_Amount": {
          "runAfter": {
            "Format_number_-_Funding_Amount": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3da8ecf3-77dd-4b42-bbbb-426cb272b4b4"
          },
          "type": "Expression",
          "kind": "FormatNumber",
          "inputs": {
            "number": "@outputs('Get_LetterOfSupport_Item')?['body/esamk_industrialsupportedamount']",
            "format": "###,###,###"
          }
        },
        "Reset_Submit_to_Sent": {
          "runAfter": {
            "Get_LetterOfSupport_Item": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4dd84486-7f4d-40cf-a5e6-e00876baa404"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_letterofsupport1s",
              "recordId": "@outputs('Get_LetterOfSupport_Item')?['body/esamk_letterofsupport1id']",
              "item/esamk_docusignstatus": 305290003,
              "item/esamk_submit": "Sent"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_a_row": {
          "runAfter": {
            "UpdateBPFStageToSent": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9a972e67-ef00-44ce-95e5-b083ffb6d6ad"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_letterofsupport1s",
              "recordId": "@outputs('Get_LetterOfSupport_Item')?['body/esamk_letterofsupport1id']",
              "item/esamk_docusignstatus": 305290008,
              "item/esamk_dtsent": "@utcNow()",
              "item/esamk_envelopeid": "@variables('Envelope ID')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_BPF": {
          "runAfter": {
            "Send_envelope": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5a25d1eb-93ae-43f6-8501-81f60fb1dbc4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_letterofsupportprocesses",
              "$select": "businessprocessflowinstanceid,_processid_value",
              "$filter": "_bpf_esamk_letterofsupport1id_value eq @{outputs('Get_LetterOfSupport_Item')?['body/esamk_letterofsupport1id']}",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "UpdateBPFStageToSent": {
          "runAfter": {
            "GetProcessStage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a3657df6-2ac6-4942-9460-2b68b87c8845"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_letterofsupportprocesses",
              "recordId": "@first(outputs('Get_BPF')?['body/value'])?['businessprocessflowinstanceid']",
              "item/activestageid@odata.bind": "processstages(@{first(outputs('GetProcessStage')?['body/value'])?['processstageid']})",
              "item/statecode": 0,
              "item/statuscode": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "GetProcessStage": {
          "runAfter": {
            "Get_BPF": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e6830b9c-e015-4734-adce-fc301aa9b941"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "processstages",
              "$filter": "_processid_value eq  @{first(outputs('Get_BPF')?['body/value'])?['_processid_value']}   and stagename eq 'Sent To Docusign'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_LUTactivity_Fields": {
          "runAfter": {
            "Get_Member_State": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9adaf299-a633-4488-95fe-1f5f91c8c444"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_lut_activities",
              "recordId": "@outputs('Get_LetterOfSupport_Item')?['body/_esamk_lut_activity_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Programe_Element_for_Cost_Basis": {
          "runAfter": {
            "Get_LUTactivity_Fields": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3a795ca2-893b-4eeb-8cba-e2de0694795a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_lut_programme_elements",
              "recordId": "@triggerOutputs()?['body/_esamk_lut_programme_element_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_Cost_Percentage": {
          "runAfter": {
            "Condition_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bef65016-a737-4ea8-8411-4efc2b243830"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Cost Percentage",
                "type": "float"
              }
            ]
          }
        },
        "Set_variable": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f9422609-da57-4291-85d0-86ced4422b3a"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Cost Percentage",
            "value": "@div(float(outputs('Get_Programe_Element_for_Cost_Basis')?['body/esamk_decimalassociatedcostspercentage']), 100)\r\n"
          }
        },
        "Get_Programme_for_Recipients": {
          "runAfter": {
            "Set_variable_Legal_Text": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e1cf6597-12a1-49c7-a403-dccd68ba5aff"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_lut_programmes",
              "recordId": "@triggerOutputs()?['body/_esamk_lut_programme_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "List_Director_General": {
          "runAfter": {
            "Get_Programme_for_Recipients": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e999e693-bbcb-4493-aea8-f89162dd152e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_lut_directorgenerals",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_Director_General": {
          "runAfter": {
            "Initialize_variable_Cost_Percentage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d4e44fc7-4b56-42a4-8549-a66026d5ad77"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Director General",
                "type": "string"
              }
            ]
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_Director_General')?['body/value']",
          "actions": {
            "Set_variable_Director_General": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9a8e11a0-51bc-46be-887e-e9cb5e43e31a"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Director General",
                "value": "@items('Apply_to_each')?['esamk_name']"
              }
            }
          },
          "runAfter": {
            "List_Director_General": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0654fecf-c9c8-4dca-8a7c-080e08db9412"
          },
          "type": "Foreach"
        },
        "Initialize_variable_Legal_Text": {
          "runAfter": {
            "Initialize_variable_Director_General": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b98baa10-663a-4690-a832-645d50454126"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Legal Text",
                "type": "string"
              }
            ]
          }
        },
        "Set_variable_Legal_Text": {
          "runAfter": {
            "Get_Programe_Element_for_Cost_Basis": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c8fd67e4-43ce-48cf-86d6-4a8000820854"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Legal Text",
            "value": "@{replace(outputs('Get_Programe_Element_for_Cost_Basis')?['body/esamk_legal'], '{{Member_State}}', outputs('Get_Member_State')?['body/esamk_countryname'])}"
          }
        },
        "Initialize_variable_User_Type": {
          "runAfter": {
            "Initialize_variable_Legal_Text": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ef43593e-d477-4475-bc9a-c9a4d0d819cb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "User Type",
                "type": "string",
                "value": "@{triggerOutputs()?['body/esamk_jsusertype']}"
              }
            ]
          }
        },
        "Condition_2": {
          "actions": {
            "Reset_esamk_Submit_so_can_send_to_docusign_again_if_want_to": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "fedc1478-ebaa-43a4-a303-254a9272b7b7"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "esamk_letterofsupport1s",
                  "recordId": "@triggerOutputs()?['body/esamk_letterofsupport1id']",
                  "item/esamk_submit": "@null"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Terminate": {
              "runAfter": {
                "Reset_esamk_Submit_so_can_send_to_docusign_again_if_want_to": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "db0a23e9-1c1f-4685-9959-240ca44b0ae7"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/esamk_authorisedfunding']",
              "@null"
            ]
          },
          "metadata": {
            "operationMetadataId": "be10eeb8-2ad0-493d-88b8-aab5674097db"
          },
          "type": "If"
        },
        "Set_variable_Email_Subject": {
          "runAfter": {
            "Create_envelope_using_template_with_recipients": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7435e800-573a-4455-aa1c-b09a7a92c2db"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Email Subject",
            "value": "ESA-LOS - @{outputs('Get_Member_State')?['body/esamk_countryname']}- @{outputs('Get_Programme_for_Recipients')?['body/esamk_name']} - @{triggerOutputs()?['body/esamk_description']}"
          }
        },
        "trim_Email_Subject_to_100chars": {
          "runAfter": {
            "Set_variable_Temp_String_to_Subject": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e05361e0-b45b-49a7-bb23-f2af59af7a42"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Email Subject",
            "value": "@{if(greater(length(variables('Temp String')), 100), substring(variables('Temp String'), 0, 100), variables('Temp String'))}"
          }
        },
        "Initialize_variable_Temp_String": {
          "runAfter": {
            "Initialize_variable_User_Type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9756bec0-83ce-48ef-9de8-3f1b98dd78de"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Temp String",
                "type": "string"
              }
            ]
          }
        },
        "Set_variable_Temp_String_to_Subject": {
          "runAfter": {
            "Set_variable_Email_Subject": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e35c09dd-7a93-45c7-9575-9283d3da25c1"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Temp String",
            "value": "@variables('Email Subject')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}