tmp_esamk_extract_all/LetterOfSupport_1_0_0_16_20250605_154452/Workflows/ImportWorkplans-50A6D660-FFF8-EF11-BAE2-7C1E52768CB0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "esamk_sharedcommondataserviceforapps_56a48"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "bd350144-fc43-44b0-b1bf-85e9cc101263"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "List_rows_in_Activity_Record_Source": {
          "runAfter": {
            "Initialize_Programme_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b013755e-c027-4a9e-ad89-2463f41d5da1"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_activityrecords",
              "$top": 5
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each_Source_Record": {
          "foreach": "@outputs('List_rows_in_Activity_Record_Source')?['body/value']",
          "actions": {
            "List_Domain_Rows_Found": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "fcbb095c-5834-47a8-b8fd-4e591ac2fdf1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "esamk_domainnames",
                  "$select": "esamk_domainname1, esamk_domainnameid",
                  "$filter": "esamk_domainname1 eq  '@{items('Apply_to_each_Source_Record')?['esamk_domain']}'",
                  "$top": 1
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "If_Domains_Found": {
              "foreach": "@outputs('List_Domain_Rows_Found')?['body/value']",
              "actions": {
                "Update_Domain": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "fe987df2-fb5a-4bad-a182-aeaec2f60fc4"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "esamk_domainnames",
                      "recordId": "@items('If_Domains_Found')?['esamk_domainnameid']"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Set_variable_Domain": {
                  "runAfter": {
                    "Update_Domain": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b9a28f6f-8391-4a63-bf07-28c40bac31cf"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "DomainID",
                    "value": "@items('If_Domains_Found')?['esamk_domainnameid']"
                  }
                }
              },
              "runAfter": {
                "List_Domain_Rows_Found": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c5c26b7c-65d1-425d-bad6-d78975a09da3"
              },
              "type": "Foreach"
            },
            "Check_if_Domain_Found_if_not_Create_One": {
              "actions": {},
              "runAfter": {
                "If_Domains_Found": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Create_Domain": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "0f650647-a8dc-4312-8cd7-b78dbff98cb9"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "esamk_domainnames",
                        "item/esamk_domainname1": "@items('Apply_to_each_Source_Record')?['esamk_domain']"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  },
                  "Set_variable_Domain_2": {
                    "runAfter": {
                      "Create_Domain": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "3bba0999-d4c8-4660-8894-32ac8315daf3"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "DomainID",
                      "value": "@outputs('Create_Domain')?['body/esamk_domainnameid']"
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(outputs('List_Domain_Rows_Found')?['body/value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "201fa1b6-467e-4732-881d-d265f384930a"
              },
              "type": "If"
            },
            "List_SubDomain_Rows_Found": {
              "runAfter": {
                "Check_if_Domain_Found_if_not_Create_One": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f0304232-d484-477c-89a4-1e0360bbb6f7"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "esamk_subdomains",
                  "$select": "esamk_subdomainname, esamk_subdomainid",
                  "fetchXml": "<fetch top=\"50\">\n  <entity name=\"esamk_subdomain\">\n    <attribute name=\"esamk_domainname\" />\n    <attribute name=\"esamk_subdomainid\" />\n    <attribute name=\"esamk_subdomainname\" />\n    <filter>\n      <condition attribute=\"esamk_domainname\" operator=\"eq\" value=\"@{variables('DomainID')}\" uiname=\"Innovate\" uitype=\"esamk_domainname\" />\n      <condition attribute=\"esamk_subdomainname\" operator=\"eq\" value=\"@{items('Apply_to_each_Source_Record')?['esamk_subdomain']}\" />\n    </filter>\n  </entity>\n</fetch>",
                  "$top": 1
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "If_SubDomains_Found": {
              "foreach": "@outputs('List_SubDomain_Rows_Found')?['body/value']",
              "actions": {
                "Update_SubDomain": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "fe987df2-fb5a-4bad-a182-aeaec2f60fc4"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "esamk_subdomains",
                      "recordId": "@items('If_SubDomains_Found')?['esamk_subdomainid']",
                      "item/esamk_subdomainname": "@items('Apply_to_each_Source_Record')?['esamk_subdomain']",
                      "item/esamk_DomainName@odata.bind": "esamk_domainnames(@{variables('DomainID')})"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Set_variable_SubDomain": {
                  "runAfter": {
                    "Update_SubDomain": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b9a28f6f-8391-4a63-bf07-28c40bac31cf"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "SubDomain",
                    "value": "@items('If_SubDomains_Found')?['esamk_subdomainid']"
                  }
                },
                "Check_if_Domain_Found_if_not_Create_One_2": {
                  "actions": {},
                  "runAfter": {
                    "Set_variable_SubDomain": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Create_Domain_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "0f650647-a8dc-4312-8cd7-b78dbff98cb9"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "esamk_domainnames",
                            "item/esamk_domainname1": "@items('Apply_to_each_Source_Record')?['esamk_domain']"
                          },
                          "authentication": {
                            "type": "Raw",
                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                          }
                        }
                      },
                      "Set_variable_Domain_3": {
                        "runAfter": {
                          "Create_Domain_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "3bba0999-d4c8-4660-8894-32ac8315daf3"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "DomainID",
                          "value": "@outputs('Create_Domain_2')?['body/esamk_domainnameid']"
                        }
                      }
                    }
                  },
                  "expression": {
                    "greater": [
                      "@length(outputs('List_Domain_Rows_Found')?['body/value'])",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "201fa1b6-467e-4732-881d-d265f384930a"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "List_SubDomain_Rows_Found": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c5c26b7c-65d1-425d-bad6-d78975a09da3"
              },
              "type": "Foreach"
            },
            "Check_if_SubDomain_Found_if_not_Create_One": {
              "actions": {},
              "runAfter": {
                "If_SubDomains_Found": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Create_SubDomain": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "0f650647-a8dc-4312-8cd7-b78dbff98cb9"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "esamk_subdomains",
                        "item/esamk_subdomainname": "@items('Apply_to_each_Source_Record')?['esamk_subdomain']",
                        "item/esamk_DomainName@odata.bind": "esamk_domainnames(@{variables('DomainID')})"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  },
                  "Set_variable_SubDomain_2": {
                    "runAfter": {
                      "Create_SubDomain": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "3bba0999-d4c8-4660-8894-32ac8315daf3"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "SubDomain",
                      "value": "@outputs('Create_SubDomain')?['body/esamk_subdomainid']"
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(outputs('List_SubDomain_Rows_Found')?['body/value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "201fa1b6-467e-4732-881d-d265f384930a"
              },
              "type": "If"
            },
            "List_Programme_Rows_Found": {
              "runAfter": {
                "Check_if_SubDomain_Found_if_not_Create_One": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3d4914f0-059a-427c-a9fb-b16259e34740"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "esamk_programmenametables",
                  "fetchXml": "<fetch top=\"1\">\n  <entity name=\"esamk_programmenametable\">\n    <filter>\n      <condition attribute=\"esamk_name\" operator=\"eq\" value=\"@{items('Apply_to_each_Source_Record')?['esamk_programme']}\" />\n      <condition attribute=\"esamk_subdomainname\" operator=\"eq\" value=\"@{variables('SubDomain')}\" />\n    </filter>\n  </entity>\n</fetch>"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "If_Programmes_Found": {
              "foreach": "@outputs('List_Programme_Rows_Found')?['body/value']",
              "actions": {
                "Update_Programme": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "9d666f5d-10d6-44ac-ae66-f298503d151c"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "esamk_programmenametables",
                      "recordId": "@items('If_Programmes_Found')?['esamk_programmenametableid']",
                      "item/esamk_name": "@items('Apply_to_each_Source_Record')?['esamk_programme']",
                      "item/esamk_SubDomainName@odata.bind": "esamk_subdomains(@{variables('SubDomain')})"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Set_variable": {
                  "runAfter": {
                    "Update_Programme": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1c66e0a9-8da8-4340-a49f-a6fa98fbd019"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Programme",
                    "value": "@items('If_Programmes_Found')?['esamk_programmenametableid']"
                  }
                }
              },
              "runAfter": {
                "List_Programme_Rows_Found": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2b542558-ff5a-4236-950f-8d8cbe4e1ec8"
              },
              "type": "Foreach"
            },
            "Check_if_Programme_Found_if_not_create_one": {
              "actions": {},
              "runAfter": {
                "If_Programmes_Found": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Create_Programme": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "ef8c5b85-7bfd-4018-8a35-93e1c525620f"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "esamk_programmenametables",
                        "item/esamk_name": "@items('Apply_to_each_Source_Record')?['esamk_programme']",
                        "item/esamk_SubDomainName@odata.bind": "esamk_subdomains(@{variables('SubDomain')})"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  },
                  "Set_variable_Programme_2": {
                    "runAfter": {
                      "Create_Programme": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "978bbadf-3c28-4e46-b662-80f0a17f0aa4"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Programme",
                      "value": "@outputs('Create_Programme')?['body/esamk_programmenametableid']"
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(outputs('List_Programme_Rows_Found')?['body/value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "0f52dfd5-647e-4262-bda1-92d7c2f3bbd3"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "List_rows_in_Activity_Record_Source": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "537358eb-d44a-4f32-9e0b-de77cfa3a91d"
          },
          "type": "Foreach"
        },
        "Initialize_Domain_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a5bc9547-ebf8-4249-8e8d-f1b14192f1c7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DomainID",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_SubDomain_variable": {
          "runAfter": {
            "Initialize_Domain_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d4be037f-e174-4aa2-a511-f5ca0729def5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SubDomain",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Programme_variable": {
          "runAfter": {
            "Initialize_SubDomain_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d815f528-ef0d-4776-9e3b-a7e84fe3d9ce"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Programme",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}