tmp_esamk_extract_all/LOS_FLOWS_1_0_0_7_20250605_154452/Workflows/SetUserType-8590E6E7-72FB-EF11-BAE2-7C1E52216C84.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "esamk_sharedcommondataserviceforapps_56a48"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "e291e148-5044-4290-80c7-3579b9418b9a"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "esamk_letterofsupport1",
              "subscriptionRequest/scope": 2
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "List_rows": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "7894268a-fc57-4e84-b4b3-be497e1d8d8b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "esamk_memberstates",
                  "$filter": "esamk_countryname eq '@{outputs('Get_USER_row_by_ID')?['body/_businessunitid_value']}'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('List_rows')?['body/value']",
              "actions": {
                "Update_LOS_-_Delegate": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "8e2bc86a-68f8-4286-b6e0-d7bf91627b26"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "esamk_letterofsupport1s",
                      "recordId": "@triggerOutputs()?['body/esamk_letterofsupport1id']",
                      "item/esamk_MemberState@odata.bind": "esamk_memberstates(@{items('Apply_to_each')?['esamk_memberstateid']})",
                      "item/owningbusinessunit@odata.bind": "@outputs('Get_USER_row_by_ID')?['body/_businessunitid_value']",
                      "item/esamk_ipcdelegate": true
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "List_rows": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "53ecc206-acc9-4db4-9972-8a0bafc35845"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Get_USER_row_by_ID": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Update_LOS_-_ESA": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "deae30cf-5e97-43a8-a341-f44c2ef5f138"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateOnlyRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "esamk_letterofsupport1s",
                    "recordId": "@triggerOutputs()?['body/esamk_letterofsupport1id']",
                    "item/owningbusinessunit@odata.bind": "@outputs('Get_USER_row_by_ID')?['body/_businessunitid_value@Microsoft.Dynamics.CRM.lookuplogicalname']",
                    "item/esamk_ipcdelegate": false
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Get_USER_row_by_ID')?['body/esamk_usertype']",
              "'Delegate'"
            ]
          },
          "metadata": {
            "operationMetadataId": "5bcf414e-42e4-4483-97da-aa239eeb1690"
          },
          "type": "If"
        },
        "Get_USER_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "86cdb5e0-f5e1-46b4-b0a9-a40caf0cf555"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@triggerOutputs()?['body/_ownerid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}