tmp_esamk_extract_all/LOS_FLOWS_1_0_0_8_20250605_154452/Workflows/PullthroughSpecifiers-58D2C5B1-69FB-EF11-BAE2-7C1E52768CB0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "esamk_sharedcommondataserviceforapps_56a48"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "40eff5d6-4f92-4b52-8a43-1e2a0a2a267e"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "esamk_letterofsupport1",
              "subscriptionRequest/scope": 2
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_a_Member_State_row_by_ID": {
          "runAfter": {
            "Update_a_row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "42e5b1d3-fc7b-448e-94a8-ca16adbf828f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_memberstates",
              "recordId": "@triggerOutputs()?['body/_esamk_memberstate_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_a_LOS_row_with_Specifiers": {
          "runAfter": {
            "Get_a_Member_State_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3ae77c3a-0312-41db-80ce-608d2616f62a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_letterofsupport1s",
              "recordId": "@triggerOutputs()?['body/esamk_letterofsupport1id']",
              "item/esamk_primaryspecifieremailfreetype": "@outputs('Get_a_Member_State_row_by_ID')?['body/esamk_primaryspecifieremail']",
              "item/esamk_primaryspecifierfreetype": "@outputs('Get_a_Member_State_row_by_ID')?['body/esamk_primaryspecifiername']",
              "item/esamk_secondaryspecifieremailfreetype": "@outputs('Get_a_Member_State_row_by_ID')?['body/esamk_secondaryspecifieremail']",
              "item/esamk_secondaryspecifiernamefreetype": "@outputs('Get_a_Member_State_row_by_ID')?['body/esamk_secondaryspecifiername']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_a_row": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "9e287a8e-c68f-40e8-8cae-90b275a65210"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_letterofsupport1s",
              "recordId": "@triggerOutputs()?['body/esamk_letterofsupport1id']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}