tmp_esamk_extract_all/LetterOfSupport_1_0_0_17_20250605_154452/Workflows/ESA-LoS-Completed-38941467-0DDF-EF11-8EEA-6045BDDF725A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "esamk_sharedcommondataserviceforapps_56a48"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_docusigndemo_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_shareddocusigndemo_c46e0"
        },
        "api": {
          "name": "shared_docusigndemo"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "esamk_sharedsharepointonline_ebfad"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_an_envelope_status_changes_(Connect)_(V3)": {
          "metadata": {
            "operationMetadataId": "4428023e-f7d6-47cd-a8c6-bfde439d5afb"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_docusigndemo_2",
              "operationId": "CreateHookEnvelopeV3",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
            },
            "parameters": {
              "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
              "body/name": "ESA - LoS - Completed - ESA KIT",
              "body/envelopeEvents": "envelope-completed"
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": [
            {
              "expression": "@equals(triggerBody()?['data']?['envelopeSummary']?['customFields']?['Power Automate Trigger'],'Letter of Support')"
            }
          ]
        }
      },
      "actions": {
        "Flow_Information": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "398556a4-80c0-4994-9ff5-3194138a2d6c"
          },
          "type": "Compose",
          "inputs": "Account: DocuSign Demo\n\nAccountID: @{triggerBody()?['data']?['envelopeSummary']?['sender']?['accountId']}\n\nAccount Site: Demo\n\nConnect Name: LoS - Completed\n\nPower Automate Trigger (Custom Field): \n@{equals(triggerBody()?['data']?['envelopeSummary']?['customFields']?['Power Automate Trigger'],'Letter of Support')}\n\nUse Case Name: Letter of Support\n\nTempalteID: https://apps-d.docusign.com/send/templates/details/84910cfc-531e-46cd-b540-a892f8d79128\n\nSharePoint List URL: https://docusign2com.sharepoint.com/sites/ESA/Lists/Letter%20of%20Support/AllItems.aspx\n\nFlow Built By: Nathan Brewer"
        },
        "Initialize_variable_-_Envelope_ID": {
          "runAfter": {
            "Flow_Information": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1a5a40e0-d756-4b4c-ac89-fc3210023af9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Envelope ID",
                "type": "String",
                "value": "@triggerOutputs()?['body/data/envelopeSummary/envelopeId']"
              }
            ]
          }
        },
        "Initialize_variable_-_Trigger_Envelope_Completion_Date": {
          "runAfter": {
            "Initialize_variable_-_Envelope_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a22caa33-c290-40ed-9ed7-49041f4fbacf"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Trigger Envelope Completion Date",
                "type": "string",
                "value": "@{triggerBody()?['data']?['envelopeSummary']?['completedDateTime']}"
              }
            ]
          }
        },
        "Initialize_variable_-_File_Name": {
          "runAfter": {
            "Initialize_variable_-_Trigger_Envelope_Completion_Date": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7aa85da5-37de-4d34-8658-def4b3898871"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "File Name",
                "type": "string"
              }
            ]
          }
        },
        "Compose_-_Envelope_Body": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3fbb5ba2-0aa8-4342-8d5e-de808126b0d7"
          },
          "type": "Compose",
          "inputs": "@triggerBody()"
        },
        "Get_Envelope_Custom_Field_Data": {
          "actions": {
            "Parse_JSON_-_Custom_Fields": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e313a107-9ba0-4b20-b918-89c5d2c9bb89"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()?['data']?['envelopeSummary']?['customFields']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "Member State": {},
                    "Activity Title": {}
                  }
                }
              }
            }
          },
          "runAfter": {
            "Compose_-_Envelope_Body": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "48fa0626-499e-4c7d-aa65-22af796c594e"
          },
          "type": "Scope"
        },
        "Get_Recipients": {
          "actions": {
            "Filter_array_-_Signer_1": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "5b6031c3-5142-46d0-920b-a9e7a4e121e7"
              },
              "type": "Query",
              "inputs": {
                "from": "@triggerOutputs()?['body/data/envelopeSummary/recipients/signers']",
                "where": "@equals(item()?['roleName'], 'Signer 1')"
              }
            },
            "Filter_array_-_Signer_2": {
              "runAfter": {
                "Filter_array_-_Signer_1": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5b6031c3-5142-46d0-920b-a9e7a4e121e7"
              },
              "type": "Query",
              "inputs": {
                "from": "@triggerOutputs()?['body/data/envelopeSummary/recipients/signers']",
                "where": "@equals(item()?['roleName'], 'Signer 2')"
              }
            },
            "Compose": {
              "runAfter": {
                "Filter_array_-_Signer_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8d899410-5e8e-4581-bc12-dd2947c95682"
              },
              "type": "Compose",
              "inputs": "@body('Filter_array_-_Signer_2')?[0]?['name']"
            }
          },
          "runAfter": {
            "Get_Envelope_Custom_Field_Data": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "057ea469-7ac1-433b-89e7-a2678992f743"
          },
          "type": "Scope"
        },
        "Find_LOS_by_Envelopeid": {
          "runAfter": {
            "Get_Recipients": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cd2e0485-804a-4f22-8955-796800d8613b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "esamk_letterofsupport1s",
              "$filter": "esamk_envelopeid eq @{variables('Envelope ID')}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_the_D365_LoS_Row": {
          "foreach": "@outputs('Find_LOS_by_Envelopeid')?['body/value']",
          "actions": {
            "Get_a_row_by_ID": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ef6b8bf4-63a5-42c6-b8aa-dfe9f8d25059"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "esamk_letterofsupport1s",
                  "recordId": "@items('Get_the_D365_LoS_Row')?['esamk_letterofsupport1id']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_documents_from_an_envelope": {
              "runAfter": {
                "Get_a_row_by_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bca8b47d-bd33-4b97-9a45-145de05996db"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_docusigndemo_2",
                  "operationId": "GetDocumentsV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_docusigndemo"
                },
                "parameters": {
                  "accountId": "3433fe0a-8620-4aba-b074-fb913cf9c411",
                  "envelopeId": "@variables('Envelope ID')",
                  "documentId": "Combined with COC : Get all documents as single pdf"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_a_row": {
              "runAfter": {
                "Create_file": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "172d7cec-c674-4baf-a762-a65b1db6f895"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "esamk_letterofsupport1s",
                  "recordId": "@items('Get_the_D365_LoS_Row')?['esamk_letterofsupport1id']",
                  "item/esamk_docusignstatus": 305290000,
                  "item/esamk_dtcompleted": "@utcNow()"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Create_file": {
              "runAfter": {
                "Set_Path": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "05952c69-082a-4368-bb96-179d9c306c7a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "CreateFile",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://esait.sharepoint.com/sites/LetterofSupportDev/LOS2",
                  "folderPath": "@variables('Path')",
                  "name": "@concat('ÇompletedDocusign','-',utcNow(),'.pdf')",
                  "body": "@body('Get_documents_from_an_envelope')"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Set_Path": {
              "runAfter": {
                "Get_documents_from_an_envelope": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5e0a126e-bf93-409e-9e28-054f5b020d76"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Path",
                "value": "@Concat(\r\n'/esamk_letterofsupport1/',outputs('Get_a_row_by_ID')?['body/esamk_description'],\r\n'_',\r\nReplace(outputs('Get_a_row_by_ID')?['body/esamk_letterofsupport1id'],'-','')\r\n)"
              }
            },
            "Get_BPF": {
              "runAfter": {
                "Update_a_row": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "75a22d2e-18d3-4f5f-add6-0b20c3209006"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "esamk_letterofsupportprocesses",
                  "$select": "businessprocessflowinstanceid,_processid_value",
                  "$filter": "_bpf_esamk_letterofsupport1id_value eq @{items('Get_the_D365_LoS_Row')?['esamk_letterofsupport1id']}",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "GetProcessStage": {
              "runAfter": {
                "Get_BPF": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "71c97142-454b-4e76-80b7-0b8dddc99aff"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "processstages",
                  "$filter": "_processid_value eq  @{first(outputs('Get_BPF')?['body/value'])?['_processid_value']}   and stagename eq 'Completed'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "UpdateBPFStageToCompleted": {
              "runAfter": {
                "GetProcessStage": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a3657df6-2ac6-4942-9460-2b68b87c8845"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "esamk_letterofsupportprocesses",
                  "recordId": "@first(outputs('Get_BPF')?['body/value'])?['businessprocessflowinstanceid']",
                  "item/activestageid@odata.bind": "processstages(@{first(outputs('GetProcessStage')?['body/value'])?['processstageid']})",
                  "item/statecode": 0,
                  "item/statuscode": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Find_LOS_by_Envelopeid": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6bf04a6a-6f1e-4128-9752-4dcea9e70a71"
          },
          "type": "Foreach"
        },
        "Initialize_variable": {
          "runAfter": {
            "Initialize_variable_-_File_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5e85f223-12b5-44a1-9f9e-6cfc8a158cf6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Path",
                "type": "string"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}