tmp_esamk_extract_all/LOS_FLOWS_1_0_0_10_managed_20250605_154452/Workflows/CalculateAuthorisedFunding-FB0AB673-641F-F011-998A-000D3A683473.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "esamk_sharedcommondataserviceforapps_56a48"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "666d5121-12c7-4f4a-b9f3-f81a166f9077"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "esamk_letterofsupport1",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "esamk_industrialsupportedamount"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_Percentage": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7412ae92-cc44-44db-83f3-c063d3945654"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "percentage",
                "type": "float"
              }
            ]
          }
        },
        "Initialize_IndustrialSupportedAmount": {
          "runAfter": {
            "Initialize_Percentage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a58e897c-a77d-40d8-9bd6-49f22c14d830"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "industrialSupportedAmount",
                "type": "float"
              }
            ]
          }
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "5f9f6207-68ea-4aab-9991-783b3b56f0e2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ProgramElement",
                "type": "string",
                "value": "@triggerOutputs()?['body/_esamk_lut_programme_element_value']"
              }
            ]
          }
        },
        "Condition": {
          "actions": {
            "Get_Program_Element": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "4dd46798-8096-4f9c-a5d5-4c2008d49537"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "esamk_lut_programme_elements",
                  "recordId": "@triggerOutputs()?['body/_esamk_lut_programme_element_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_variable_percentage": {
              "runAfter": {
                "Get_Program_Element": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "845769be-1b47-4dbf-bd65-79bbfcbf45f4"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Percentage",
                "value": "@outputs('Get_Program_Element')?['body/esamk_decimalassociatedcostspercentage']"
              }
            },
            "Set_variable_IndustrialSupportedAmount": {
              "runAfter": {
                "Set_variable_percentage": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "356b5ef4-3560-40ea-81bc-6b94c8169115"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "IndustrialSupportedAmount",
                "value": "@triggerOutputs()?['body/esamk_industrialsupportedamount']"
              }
            },
            "Update_a_row": {
              "runAfter": {
                "Set_variable_IndustrialSupportedAmount": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7beb3bd2-6e83-4d76-ae7e-c24f25000862"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "esamk_letterofsupport1s",
                  "recordId": "@triggerOutputs()?['body/esamk_letterofsupport1id']",
                  "item/esamk_authorisedfunding": "@mul(div(1, sub(1, div(variables('percentage'), 100))), variables('industrialSupportedAmount'))\r\n"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_IndustrialSupportedAmount": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/_esamk_lut_programme_element_value']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "efcc3af6-99ff-4a7d-b680-6b3717012ae6"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}